@import "partials/fonts.less";

#bomtable tfoot {
    font-size: 10px;
    input {
        padding: 3px 4px;
    }
}

form {
    .form-group {
        input[type="text"], textarea, select {
            .form-control;
        }
    }
}

.requiredLabel:after {
    content: ' *',
}

.expand {
    width: 100%;
}
