[submodule "aps_project/submodules/bootstrap"]
	path = aps_project/submodules/bootstrap
	url = https://github.com/twbs/bootstrap.git
[submodule "aps_project/submodules/bootstrap-modal"]
	path = aps_project/submodules/bootstrap-modal
	url = https://github.com/jschr/bootstrap-modal/
[submodule "aps_project/submodules/bootstrap-datetimepicker"]
	path = aps_project/submodules/bootstrap-datetimepicker
	url = https://github.com/tarruda/bootstrap-datetimepicker
