{% load i18n static %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}aps project{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "aps_purchasing/css/jquery.dataTables.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "css/libs/jquery-ui-1.10.3.custom.min.css" %}" rel="stylesheet" />
    {% block extrahead %}{% endblock %}
</head>
<body>

{% include "aps_project/partials/nav_bar.html" %}

{% block main_container %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {% if messages %}
                {% for message in messages %}
                    <p {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</p>
                {% endfor %}
            {% endif %}
            {% block headline %}{% endblock %}
            {% block main %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}

{% block costs_footer_container %}
<div class="costsFooter">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% block costs_footer %}{% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

<div id="ajax-modal" class="modal hide fade" tabindex="-1"></div>

<script src="{% static "js/libs/jquery-1.9.1.js" %}"></script>
<script src="{% static "js/libs/jquery-ui-1.10.3.custom.min.js" %}"></script>

<script src="{% static "js/libs/bootstrap.min.js" %}"></script>
<script src="{% static "js/libs/holder.js" %}"></script>
<script src="{% static "aps_purchasing/js/jquery.dataTables.min.js" %}"></script>
<script src="{% static "rapid_prototyping/js/calculate_total.js" %}"></script>

{% block extrajs %}{% endblock %}

{% block extra_script %}{% endblock %}
</body>
</html>
