{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Login" %}{% endblock %}

{% block main %}
<div class="col-md-offset-4 col-md-4">
    <form method="post" action=".">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}
            {% include "aps_project/partials/form_field.html" %}
        {% endfor %}
        <input type="hidden" name="next" value="{{ next }}" />
        <input class="btn btn-primary" type="submit" name="btnFormStandard" value="{% trans "Login" %}" />
    </form>
</div>
{% endblock %}
