{% extends "base.html" %}
{% load i18n %}
{% block headline %}{% endblock %}
{% block main %}
    <form action="." method="post" class="col-md-4" enctype="multipart/form-data">
        {% csrf_token %}
        {% for error in form.non_field_errors %}
            <p>{{ error|safe }}</p>
        {% endfor %}
        {% for field in form  %}
            {% include "aps_project/partials/form_field.html" with field=field %}
        {% endfor %}
        <p><input class="btn btn-primary" type="submit" value="{% trans "Upload" %}"></p>
    </form>
{% endblock %}
